body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
}

.navbar {
    background-color: #2980b9;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}
 









.navbar-right {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.navbar-link {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: #ecf0f1;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}









.container {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    margin-top: 100px;  
}

h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.input_element {
    margin-bottom: 20px;
}

.input_element label {
    display: block;
    margin-bottom: 10px;
    color: #888;
}

.input_element input {
    margin-left: -10px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 7px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.sent_status {
    display: flex;
    justify-content: left;
    color: red;
}
